* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.03em;
}

p,
ul,
figure,
.breadcrumb {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #f16d7f;
}

li {
  list-style-type: none;
}

html,
body {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  width: 1600px;
  min-height: 100%;
}

body {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
}

.padding-site {
  padding-left: 14.375%;
  padding-right: 14.375%;
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 540px;
}

.button {
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.button summary {
  line-height: 38px;
}

.hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hover:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  padding-right: 13px;
}

.logo p {
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  line-height: 32px;
  text-transform: uppercase;
}

.logo p span {
  color: #f16d7f;
  font-weight: 900;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__leftbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-config {
  margin-left: 37px;
  height: 38px;
  width: 87px;
  background-color: whitesmoke;
  border: 1px solid #e6e6e6;
}

.header__search-config summary {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__search-config summary::-webkit-details-marker {
  display: none;
}

.header__search-config summary::after {
  content: '\23F7';
  margin-left: 4px;
}

.header__search-config[open] > summary::after {
  content: '\23F6';
  margin-left: 4px;
}

.header__search-config .menu__mega {
  z-index: 10;
}

.header__searchfield {
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  height: 38px;
  width: 317px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__searchfield input[type='search'] {
  margin-left: -1px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
}

.header__searchfield input[type='search']::-webkit-input-placeholder {
  color: #a4a4a4;
}

.header__searchfield input[type='search']:-ms-input-placeholder {
  color: #a4a4a4;
}

.header__searchfield input[type='search']::-ms-input-placeholder {
  color: #a4a4a4;
}

.header__searchfield input[type='search']::placeholder {
  color: #a4a4a4;
}

.header__searchfield button {
  width: 42px;
  color: #a4a4a4;
  border-left: 1px solid #e6e6e6;
  background-color: white;
}

.header__rightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .cartdrop {
  position: relative;
}

.header .cartdrop__message {
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.header .cartdrop__showButton {
  height: 30px;
  width: 30px;
  background-color: white;
  background-image: url(../../assets/imgs/cart.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-right: 25px;
}

.header .cartdrop img {
  height: 30px;
  margin-top: 8px;
  margin-right: 26px;
}

.header .cartdrop__box {
  position: absolute;
  top: 39px;
  width: 262px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  background-color: #fff;
  padding: 35px 15px 20px;
}

.header .cartdrop__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header .cartdrop__product a {
  padding: 0;
}

.header .cartdrop__product img {
  height: 85px;
  width: 72px;
  margin: 0;
}

.header .cartdrop__product-desc {
  margin-left: 15px;
  max-width: 100px;
  overflow: hidden;
}

.header .cartdrop__product-desc h4 {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header .cartdrop__product-rate {
  font-size: 12px;
  color: #e4af48;
  margin-bottom: 12px;
}

.header .cartdrop__product-pq {
  font-size: 12px;
  color: #f16d7f;
  word-spacing: 5px;
}

.header .cartdrop__product-cancel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .cartdrop__product-cancel button {
  font-size: 16px;
  color: #c0c0c0;
  float: right;
}

.header .cartdrop__total {
  margin-top: 5px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.header .cartdrop__button {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

.header .cartdrop__button a {
  color: black;
  display: block;
  line-height: 50px;
}

.header .cartdrop__button_red {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.header__button {
  height: 38px;
  width: 130px;
}

.header__button summary::-webkit-details-marker {
  display: none;
}

.header__button summary::after {
  content: '\25BC';
  color: white;
  margin-left: 8px;
}

.header__button[open] > summary::after {
  content: '\25B2';
  color: white;
  margin-left: 8px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__linkblock {
  position: relative;
  height: 51px;
}

.menu__linkblock:hover .menu__mega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: block;
  padding: 20px 20px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.menu__link:hover {
  border-bottom: 3px solid #f16d7f;
}

.menu__mega {
  padding: 20px 25px 20px 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
}

.menu__mega_middle {
  left: -200px;
}

.menu__mega_last {
  right: 0;
}

.menu__mega_nav {
  display: none;
}

.menu__megacolumn {
  width: 251px;
  margin-right: 30px;
  position: relative;
}

.menu__megacolumn:last-child {
  margin-right: 0;
}

.menu__megacolumn img {
  position: absolute;
  bottom: 7px;
}

.menu__megabox {
  margin-bottom: 24px;
  margin-left: 17px;
}

.menu__megabox:last-child {
  margin-bottom: 0;
}

.menu__megabox h3 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #232323;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
}

.menu__megabox a {
  display: block;
  font-size: 14px;
  color: #646464;
  line-height: 28px;
}

.menu__megabox a:hover {
  color: #f16d7f;
}

.banner {
  height: 613px;
  width: 100%;
  background-image: url(../../assets/imgs/banner.png);
  background-position-y: -52px;
  padding-top: 224px;
}

.banner__text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.banner__text h1 {
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  margin-bottom: 10px;
  line-height: 45px;
}

.banner__text p {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  line-height: 30px;
}

.banner__text p span {
  color: #f16d7f;
}

.category {
  padding-top: 25px;
}

.category__section {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__column {
  width: 560px;
}

.category_men {
  height: 542px;
  background-image: url(../../assets/imgs/category-men.png);
}

.category_accessories {
  margin-top: 20px;
  height: 261px;
  background-image: url(../../assets/imgs/category-accessories.png);
}

.category_women {
  height: 261px;
  background-image: url(../../assets/imgs/category-women.png);
}

.category_kids {
  margin-top: 20px;
  height: 542px;
  background-image: url(../../assets/imgs/category-kids.png);
}

.category__text {
  background-color: white;
  padding: 19px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.category__text h3 {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.category__text h2 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}

.product {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product__section {
  padding-top: 100px;
}

.product__section h2 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  margin-bottom: 15px;
}

.product__section h3 {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
}

.product__box {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.product__name {
  display: block;
  padding: 19px 14px 16px 14px;
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  overflow: hidden;
}

.product__price {
  padding-left: 14px;
  padding-right: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.product__cart {
  position: absolute;
  top: 97px;
  left: 70px;
  height: 39px;
  width: 123px;
  border: 1px solid #ffffff;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
}

.product__cart img {
  height: 22px;
  width: 23px;
  margin-right: 8px;
}

.product__cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #ffffff;
}

.product:hover .product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product:hover .product__img {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.product:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product__button {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 212px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.product__button a {
  color: #ffffff;
  line-height: 54px;
  display: block;
}

.feature__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 110px;
}

.feature__section_index {
  margin-bottom: 97px;
}

.feature__section_catalog {
  background-color: #222224;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature__left {
  background-image: url(../../assets/imgs/feature-wrapper.png), url(../../assets/imgs/feature.png);
  background-repeat: no-repeat;
  height: 529px;
  width: 767px;
  background-color: #222224;
  padding: 146px 39px;
}

.feature__left h2 {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.feature__left h2 span {
  color: #f16d7f;
}

.feature__left h3 {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.feature__right {
  padding: 48px 30px 20px 30px;
  background-color: #222224;
}

.feature__figure_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 5px 0;
}

.feature__figure_catalog {
  width: 320px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 60px;
}

.feature__img {
  width: 45px;
}

.feature__img_index {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.feature__img_catalog {
  height: 65px;
  margin: 0 auto;
}

.feature__desc_index {
  margin-left: 30px;
  width: 230px;
  padding-bottom: 20px;
}

.feature__desc_catalog p {
  min-height: 93px;
}

.feature__desc h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.feature__desc p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  line-height: 24px;
  overflow: hidden;
}

.subscribe__section {
  height: 438px;
  width: 100%;
  background-image: url(../../assets/imgs/subscribe-wrapper.png), url(../../assets/imgs/subscribe.png);
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-carousel {
  width: 50%;
}

.subscribe-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-carousel__slide img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.subscribe-carousel__content {
  margin-top: 12px;
  margin-left: 28px;
  width: 420px;
}

.subscribe-carousel__quote {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  line-height: 26px;
  margin-bottom: 16px;
}

.subscribe-carousel__author {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  margin-bottom: 3px;
}

.subscribe-carousel__location {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
}

.subscribe-carousel__pagiblock {
  top: 170px;
  margin: 0 105px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.subscribe-carousel__pagiblock button {
  height: 4px;
  width: 38px;
  margin: 0 6px;
  background-color: white;
}

.subscribe-carousel__pagiblock .active {
  background-color: #f16d7f;
}

.subscribe__form {
  margin-top: 37px;
  width: 50%;
}

.subscribe__form h2 {
  font-size: 24px;
  color: #222224;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__form h3 {
  font-size: 14px;
  color: #222224;
  text-align: center;
}

.subscribe__form form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__form form input[type='email'] {
  height: 46px;
  width: 282px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  font-size: 14px;
  color: #222224;
  line-height: 46px;
  padding-left: 28px;
}

.subscribe__form form button {
  height: 46px;
  width: 104px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 46px;
}

footer {
  height: 540px;
  margin-top: -540px;
}

footer .f-link__section {
  height: 460px;
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .f-link__left {
  width: 430px;
}

footer .f-link__desc {
  margin-top: 29px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  line-height: 24px;
}

footer .f-link__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .f-link__column {
  margin-left: 60px;
  width: 160px;
}

footer .f-link__column h3 {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  margin-bottom: 55px;
}

footer .f-link__column a {
  font-family: 'Lato';
  font-size: 16px;
  color: #898989;
  line-height: 40px;
}

footer .f-link__column a:hover {
  color: #f16d7f;
}

footer .copyright {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  font-size: 16px;
}

footer .copyright__leftbox {
  color: #7a7a7a;
}

footer .copyright__rightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright__rightbox a {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #ffffff;
  color: #b2b2b2;
  margin-left: 8px;
}

footer .copyright__rightbox a:hover {
  background-color: #f16d7f;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #f8f3f4;
}

.breadcrumb h1 {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}

.breadcrumb p a {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumb p a:hover {
  color: #f16d7f;
}

.breadcrumb span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f16d7f;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.catalog__left {
  width: 243px;
  margin-right: 50px;
}

.catalog__left details {
  margin-bottom: 40px;
}

.catalog__left summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 11px;
  height: 37px;
  width: 243px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.catalog__left summary::-webkit-details-marker {
  display: none;
}

.catalog__left summary::after {
  content: '\23F7';
}

.catalog__left details[open] summary {
  color: #f16d7f;
}

.catalog__left details[open] > summary::after {
  content: '\23F6';
}

.catalog__left ul {
  margin-left: 17px;
}

.catalog__left li a {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
}

.catalog__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.catalog__right .filter {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.catalog__right .filter__name {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.catalog__right .filter__trending .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__right .filter__trending .radio__btn {
  margin-bottom: 15px;
}

.catalog__right .filter__trending .radio__btn input[type='radio'] {
  display: none;
}

.catalog__right .filter__trending .radio__btn input[type='radio']:checked + label {
  color: #f16d7f;
}

.catalog__right .filter__trending .radio__btn label {
  cursor: pointer;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 14px;
}

.catalog__right .filter__trending .radio__btn:nth-child(3n-1) {
  margin-left: 10px;
  border-left: 1px solid #f0f0f0;
  padding-left: 10px;
  margin-right: 10px;
  border-right: 1px solid #f0f0f0;
  padding-right: 10px;
}

.catalog__right .filter__size fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__right .filter__size .checkbox {
  width: 70px;
  margin-bottom: 10px;
}

.catalog__right .filter__size input[type='checkbox'] {
  opacity: 20%;
  margin-right: 9px;
}

.catalog__right .filter__size input[type='checkbox']:checked {
  opacity: 1;
}

.catalog__right .filter__size label {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__right .filter__price #price {
  margin-top: -2px;
  -webkit-appearance: none;
  background-color: #f0f0f0;
  border-radius: 3px;
  height: 6px;
  width: 262px;
}

.catalog__right .filter__price #price::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-color: #f16d7f;
  border-radius: 14px;
  cursor: pointer;
}

.catalog__right .filter__price p {
  margin-top: 15px;
  font-size: 14px;
  color: #6f6e6e;
}

.catalog__right .selector {
  height: 50px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__right .selector__variant {
  position: relative;
}

.catalog__right .selector__variant::after {
  content: '\23F7';
  position: absolute;
  top: 6px;
  right: 5px;
  z-index: 1;
  pointer-events: none;
}

.catalog__right .selector label,
.catalog__right .selector select {
  height: 30px;
  padding: 0 25px 0 13px;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.catalog__right .selector label {
  margin-left: 10px;
}

.catalog__right .selector select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__pages {
  height: 44px;
  width: 261px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  line-height: 44px;
  text-align: center;
  word-spacing: 10px;
}

.catalog__pages i,
.catalog__pages a {
  color: #c4c4c4;
}

.catalog__pages i:hover,
.catalog__pages a:hover {
  color: #f16d7f;
}

.catalog__button {
  height: 44px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  color: #ef5b70;
  line-height: 26px;
}

.single-carousel__slide {
  text-align: center;
  position: relative;
  padding-bottom: 720px;
}

.single-carousel__img {
  background-color: #f7f7f7;
}

.single-carousel__img img {
  height: 724px;
  width: 597px;
}

.single-carousel__control {
  height: 47px;
  width: 47px;
  background-color: #2a2a2a;
  opacity: 0.15;
  top: 350px;
}

.single-carousel__control i {
  font-size: 24px;
  color: #ffffff;
}

.single-carousel__desc {
  padding: 75px 250px 125px 250px;
  margin-left: 230px;
  margin-right: 230px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  position: absolute;
  z-index: 1;
  top: 680px;
}

.single-carousel__desc h5 {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  margin-bottom: 15px;
}

.single-carousel__desc h4 {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.single-carousel__linebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.single-carousel__line {
  background-color: #eaeaea;
  width: 40px;
  height: 1px;
}

.single-carousel__line_red {
  height: 3px;
  width: 63px;
  background-color: #ef5b70;
}

.single-carousel__text {
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  line-height: 24px;
  margin-bottom: 30px;
}

.single-carousel__md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.single-carousel__md p {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  margin-left: 22px;
  margin-right: 22px;
  text-transform: uppercase;
}

.single-carousel__md p span {
  color: #2f2f2f;
}

.single-carousel__price {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  margin-bottom: 43px;
}

.single-carousel__hl {
  background-color: #eaeaea;
  width: 100%;
  height: 1px;
}

.single-carousel__selectorbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 537px;
  margin: 63px auto 26px;
}

.single-carousel__selector p {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.single-carousel__selector select,
.single-carousel__selector input[type='number'] {
  height: 35px;
  width: 144px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  color: #bcbcbc;
  text-align: left;
  line-height: 24px;
  padding-left: 14px;
  padding-right: 14px;
}

.single-carousel__selector input[type='number']::-webkit-input-placeholder {
  font-size: 13px;
  color: #bcbcbc;
  text-align: left;
  line-height: 24px;
}

.single-carousel__selector input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.single-carousel__button {
  height: 55px;
  width: 537px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.single-carousel__button img {
  margin-right: 15px;
}

.single-carousel__button p {
  font-size: 16px;
  font-weight: bold;
  color: #ef5b70;
}

.also {
  padding-top: 115px;
}

.also h3 {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.also .product__img {
  height: 280px;
  width: 261px;
}

.cart {
  padding-top: 90px;
}

.cart table {
  width: 1140px;
  margin-bottom: 44px;
}

.cart table tr,
.cart table thead {
  border-bottom: 1px solid #eaeaea;
}

.cart table thead {
  padding-bottom: 20px;
}

.cart table th {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.cart table th:first-child {
  text-align: left;
}

.cart table th:last-child {
  text-align: right;
}

.cart table td {
  text-align: center;
  padding: 22px 0;
  font-size: 13px;
  color: #656565;
  line-height: 20px;
}

.cart table td:last-child {
  text-align: right;
}

.cart table td:last-child button {
  background-color: white;
  padding: 15px;
}

.cart table td:last-child i {
  font-size: 16px;
  color: #c0c0c0;
}

.cart table input[type='number'] {
  height: 30px;
  width: 54px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 0 5px;
  text-align: center;
}

.cart table input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__product img {
  height: 115px;
  width: 100px;
  margin-right: 21px;
}

.cart__product figcaption {
  margin-top: 13px;
  text-align: left;
}

.cart__product figcaption h5 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.cart__product figcaption p {
  font-size: 13px;
  color: #575757;
  line-height: 20px;
}

.cart__product figcaption p span {
  font-weight: 300;
  color: #6f6e6e;
}

.cart__buttonbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 63px;
}

.cart__button {
  height: 50px;
  width: 235px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.cart__forms-and-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.cart__forms-and-total form {
  width: 360px;
}

.cart__forms-and-total form h4 {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.cart__forms-and-total form select,
.cart__forms-and-total form input {
  height: 45px;
  width: 355px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  padding: 0 18px;
  margin-bottom: 20px;
}

.cart__forms-and-total form .select {
  position: relative;
}

.cart__forms-and-total form .select::after {
  content: '\23F7';
  color: #b1b1b1;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  pointer-events: none;
}

.cart__forms-and-total form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cart__forms-and-total form button {
  margin-top: 3px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 11px;
  font-weight: 900;
  color: #4a4a4a;
  text-transform: uppercase;
  display: block;
  padding: 0 10px;
}

.cart__forms-and-total form p {
  margin-top: 6px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.cart__total {
  height: 214px;
  width: 360px;
  background-color: #f5f3f3;
  text-align: right;
  padding: 40px;
}

.cart__total h5 {
  font-size: 11px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.cart__total h5 span {
  margin-left: 10px;
}

.cart__total h3 {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cart__total h3 span {
  color: #f16d7f;
  margin-left: 15px;
}

.cart__total button {
  height: 50px;
  width: 100%;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.cart__total button a {
  color: #ffffff;
}

.checkout {
  margin-bottom: 93px;
}

.checkout summary {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding: 33px 0;
}

.checkout summary::-webkit-details-marker {
  display: none;
}

.checkout__formbox {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__formbox form {
  width: 400px;
  margin-right: 180px;
}

.checkout__formbox h4 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin: 15px 0 15px;
  font-weight: bold;
}

.checkout__formbox h4 span {
  font-size: 17px;
  color: #ff0d0d;
}

.checkout__formbox p {
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
  margin-bottom: 33px;
}

.checkout__formbox .p_red {
  margin-top: 22px;
  margin-bottom: 30px;
  font-size: 13px;
  color: #ff0d0d;
  font-weight: bold;
}

.checkout__formbox .p_black {
  font-size: 14px;
  color: #222222;
  font-weight: bold;
  margin: 20px 0 0 32px;
}

.checkout__formbox input[type='radio'] {
  display: none;
}

.checkout__formbox label {
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
  padding-left: 27px;
  position: relative;
}

.checkout__formbox label::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid black;
  position: absolute;
  left: 0;
}

.checkout__formbox input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: black;
  top: 4px;
}

.checkout__formbox input[type='text'],
.checkout__formbox input[type='password'] {
  height: 45px;
  width: 390px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  line-height: 30px;
  padding: 0 15px;
}

.checkout__formbox button {
  margin-top: 20px;
  height: 50px;
  width: 180px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.checkout__list {
  margin-bottom: 20px;
}

.checkout__list p {
  margin-bottom: 15px;
}

.checkout__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__hl {
  background-color: #e8e8e8;
  height: 1px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */